@model AccountingSoft.Web.ViewModels.Product.AllSoldProductsViewModel
@{
    ViewData["Title"] = "AllSoldProducts";
}

<meta http-equiv="content-type" content="text/html" ; charset="UTF-8">
<h1>Изписани продукти</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Име
            </th>
            <th>
                |
            </th>
            <th>
                Продадено Количество
            </th>
            <th>
                |
            </th>
            <th>
                Дата на изписване
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SoldProducts)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                |
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoldQty)
            </td>
            <td>
                |
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
        </tr>
        }

    </tbody>
</table>

<div>
    <a asp-action="Index">Назад</a>
    @Html.ActionLink("Към Пдф", "ConvertToPdf", "Products")
</div>

