@model AccountingSoft.Web.ViewModels.Product.ProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Създай нов продукт</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label">Име на продукт</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qty" class="control-label">Количество</label>
                <input asp-for="Qty" class="form-control" />
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SinglePrice" class="control-label">Единична цена</label>
                <input asp-for="SinglePrice" class="form-control" />
                <span asp-validation-for="SinglePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label">Единична цена</label>
                <input type="date" asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Създай продукт" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Виж всички продукти</a>
</div>
