@model AccountingSoft.Web.ViewModels.Product.ProductViewModel


@{
    ViewData["Title"] = "Edit";
    var clients = @Model.Clients.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<h1>Проомени клиент</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ProductName" class="control-label">Име</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qty" class="control-label">Количество</label>
                <input asp-for="Qty" class="form-control" />
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SinglePrice" class="control-label">Ед Цена</label>
                <input asp-for="SinglePrice" class="form-control" />
                <span asp-validation-for="SinglePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sum" class="control-label">Сума</label>
                <input asp-for="Sum" class="form-control" />
                <span asp-validation-for="Sum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client" class="control-label">Клиент</label>ss
                <select asp-for="Client" class="form-control" asp-items="clients"></select>
                <span asp-validation-for="Client" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Запази" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>