@using AccountingSoft.Common

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="~/lib/bootstrap/dist/css/bootstrap-dark.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container" id="navbarColor01">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false">Клиент <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-item">
                                    <a asp-area="" asp-controller="Clients" asp-action="Index" style="color:azure">Всички клиенти</a>
                                </li>
                                <li class="dropdown-item">
                                    <a asp-area="" asp-controller="Clients" asp-action="Create" style="color:azure">Създай клиент</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false">Продукт <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-item">
                                    <a asp-area="" asp-controller="Products" asp-action="Index" style="color:azure">Всички продукти</a>
                                </li>
                                <li class="dropdown-item">
                                    <a asp-area="" asp-controller="Products" asp-action="Create" style="color:azure">Създай продукт</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-link " onchange="SaveClientToMemoryCache()">
                            @await Component.InvokeAsync("Client")
                        </li>                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>с
    
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - АтлансТех
        </div>
        <div id="clientName" class="clientName" onload="GetClientName()">

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @this.RenderSection("Scripts", required: false)
    <script type="text/javascript">
        window.onload = function() {
            GetClientName();
        }
        function SaveClientToMemoryCache() {
            jQuery.ajaxSettings.traditional = true;
            var selected = $('#selectClient').val();
            $.ajax({
                url: "/Clients/SaveClientToMemoryCache",
                type: "GET",
                data: { selected },
                dataType: "html",
                contentType: "application/html; charset-utf-8",
                success: function () {
                    alert("Селектиран клиент за работа " + selected + " !");
                    GetClientName();
                },
                error: function () {
                    alert("ujs");
                }
                
            });
        }
        function GetClientName() {
            $.ajax({
                url: "/Clients/GetClientName",
                type: "GET",
                data: {  },
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    $('#clientName').empty();
                    $("<p>Избран Клиент: " + data + "</p>").appendTo("#clientName");
                },
                error: function () {
                    alert("ujs");
                }
                
            });
        }
    </script>
</body>
</html>
