@model AccountingSoft.Web.ViewModels.Client.ClientViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Създай нов клиент</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Name" class="control-label">Име</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EIK" class="control-label">ЕИК</label>
                <input asp-for="EIK" class="form-control" />
                <span asp-validation-for="EIK" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DDS"/> Регистриран по ДДС
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Регистрирай" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Виж всички клиенти</a>
</div>
